footer > p {
  text-align: center;
}

#footer {
  margin-top: 10%;
  position: relative;
  width: 100%;
  height: fit-content;
}

#footer h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

body {
  min-height: 500px;
}

li:hover {
  background: #999;
}

.nav-button {
  height: 50px;
  background-color: inherit;
  font-family: 'Raleway', sans-serif;
  color: #9d9d9d;
  font-weight: 800;
}

.nav-button:hover {
  color: #fff;
}