<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Banking system</a>
      <div class="dropdown" *ngIf="authService.isAuthenticated() && authenticatedUser != null">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          {{this.authenticatedUser.firstName + ' ' + this.authenticatedUser.lastName}}
          <span class="caret"></span></button>
        <p-menu [model]="dropdownItems">
          <button style="vertical-align: center" type="button" pButton
                  icon="fa fa-list" (click)="menu.toggle($event)">
          </button>
        </p-menu>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<hr>

<footer>
  <p>2018 BSUIR EBE</p>
</footer>
