<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img src="../assets/img/bank_logo.jpg" alt="Bank logo">
        <p>Банковский клиент</p>
      </div>
      <div class="navbar-collapse collapse" *ngIf="authService.isAuthenticated() && authenticatedUser != null">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a [routerLink]="['/home']">Главная</a>
          </li>
          <li>
            <a [routerLink]="['/about']">О банке</a>
          </li>
          <li>
            <a [routerLink]="['/workflow']">Рабочий процесс</a>
          </li>
          <li>
            <button id="menu-button" type="button" class="btn nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.authenticatedUser.firstName + ' ' + this.authenticatedUser.lastName}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['/profile']">Мой профиль</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a [routerLink]="['/login']" (click)="logout()">Выйти</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="bank-info">
        <div class="col-lg-4">
          <div class="bank-info__licence">
            Лицензия № 27 от 26.04.2013 выдана НБРБ УНП 807000015, г. Минск, ул. Тимирязева, 72
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bank-info__socials">
            <div class="bank-info__socials_fb">
              <a target="_blank" href="https://www.facebook.com/deltabankbelarus">
                <img src="../assets/img/socials_fb_logo.png">
              </a>
            </div>
            <div class="bank-info__socials_ok">
              <a target="_blank" href="https://ok.ru/group/53110801039584">
                <img src="../assets/img/socials_ok_logo.png">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bank-info__additional">
            © 2006 — 2014 ЗАО «Дельта Банк» <a target="_blank" href="https://vk.com/id74422070">Разработка сайта</a> — Шишкин Богдан
          </div>
        </div>
      </div>
    </div>
  </div>
</div>