<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="home-header">
        <h1>Добро пожаловать в
          <span class="red">ДельтаБанк</span>
        </h1>
        <h2>Почему мы?</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="home-section home-section_1">
        <div class="home-section__text">
          <h3 class="home-section__text_header">Надёжные сбережения</h3>
          <p class="home-section__text_body">Ваши сбережения
            <strong>всегда</strong> будут в сохранности</p>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-row "></div>

  <div class="row">
    <div class="col-lg-12">
      <div class="home-section home-section_2">
        <div class="home-section__text">
          <h3 class="home-section__text_header">Отличные проценты</h3>
          <p class="home-section__text_body">
            <strong>Выгодные</strong> процентные ставки по кредитам и депозитам</p>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-row "></div>

  <div class="row">
    <div class="col-lg-12">
      <div class="home-section home-section_3">
        <div class="home-section__text">
          <h3 class="home-section__text_header">Профессионализм</h3>
          <p class="home-section__text_body">Только
            <strong>опытные</strong> и
            <strong>квалифицированные</strong>
            сотрудники</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="empty-row "></div>
  
</div>