.breadcrumb {
  margin: 40px auto;  
  padding: 0;
  background-color: inherit;
  max-width: 40%;
}

.breadcrumb a {
    color: black;
}

.breadcrumb a {
    padding: 10px;
}

.breadcrumb a:hover {
    background-color: #EC7676;
}
