<div class="container" *ngIf="cardList.length == 0">
  <div class="page-label">
    <h1>Cards management</h1>
    <p>You don't have any cards yet! Get one right now</p>
  </div>
  <a [routerLink]="['registration']" class="btn btn-default btn-circle">
    <span id="card-icon" class="glyphicon glyphicon-credit-card card-main-area" aria-hidden="true">
    </span>
    <p class="card-text">Get</p>
  </a>
</div>
<div *ngIf="cardList.length != 0">
  <div class="page-label">
    <h1>Cards list</h1>
    <p>Your cards. Click to see details</p>
  </div>
  <div class="container">
    <hr>
    <div *ngFor="let card of cardList">
      <div class="col-sm-4">
        <div class="card" [routerLink]="[card.id]">
          <h3>{{card.cardType}} #{{card.id}}</h3>
          <span class="glyphicon glyphicon-credit-card" id="card{{card.id}}"></span>
          <p>{{card.cardNumber}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" [routerLink]="['registration']">
        <h3>Add a new one</h3>
        <span class="glyphicon glyphicon-plus card-add"></span>
        <p>New card</p>
      </div>
    </div>
  </div>
</div>