<form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <h1>Registration</h1>
  <br>
  <hr>
  <h3>Common info</h3>
  <br>

  <div class="form-group" [class.has-error]="submitted && firstName.invalid">
    <label for="firstName" class="col-sm-3 control-label">First name</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.firstName" #firstName="ngModel" name="firstName" class="form-control" id="firstName" placeholder="First name"
        required autofocus>
      <span class="text-danger" *ngIf="submitted && firstName.invalid">
        Please enter first name
      </span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && lastName.invalid">
    <label for="lastName" class="col-sm-3 control-label">Last name</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.lastName" #lastName="ngModel" name="lastName" class="form-control" id="lastName" placeholder="Last name"
        required>
      <span class="text-danger" *ngIf="submitted && lastName.invalid">
        Please enter last name
      </span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && email.invalid">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.email" name="email" #email="ngModel" class="form-control" id="email" placeholder="example@mail.org"
        required>
      <span class="text-danger" *ngIf="submitted && email.invalid">
        Please enter correct email
      </span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && birthday.invalid">
    <label for="birthday" class="col-sm-3 control-label">Birthday</label>
    <div class='col-sm-9'>
      <my-date-picker name="mydate" id="birthday" #birthday="ngModel" [options]="myDatePickerOptions" [(ngModel)]="user.birthday"
        required></my-date-picker>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && gender.invalid">
    <label class="col-sm-3 control-label">Gender</label>
    <div class="col-sm-9">
      <div class="radio">
        <input type="radio" name="optradio" #gender="ngModel" value="male" [(ngModel)]="user.gender" required>Male
      </div>
      <div class="radio">
        <input type="radio" name="optradio" value="female" [(ngModel)]="user.gender">Female
      </div>
    </div>
  </div>

  <h3>Passport info</h3>
  <br>

  <div class="form-group" [class.has-error]="submitted && passportId.invalid">
    <label for="passportId" class="col-sm-3 control-label">Passport ID</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.passport.number" #passportId="ngModel" name="passportId" class="form-control" id="passportId"
        placeholder="Enter your passport's ID number" required>
      <span class="text-danger" *ngIf="submitted && passportId.invalid">
        Please enter correct passport id
      </span>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && givenBy.invalid">
    <label for="givenBy" class="col-sm-3 control-label">Given by</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.passport.givenBy" name="givenBy" #givenBy="ngModel" class="form-control" id="givenBy" placeholder="Name of the instance that gave you the passport"
        required>
      <span class="text-danger" *ngIf="submitted && givenBy.invalid">
        Please enter correct "Given by"
      </span>
    </div>
  </div>

  <h3>Security</h3>
  <br>

  <div class="alert alert-warning" *ngIf="passwordNoMatch">
    {{passwordNoMatchMessage}}
  </div>

  <div class="form-group" [class.has-error]="submitted && password.invalid">
    <label for="password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input [(ngModel)]="this.user.password" #password="ngModel" name="password" class="form-control" id="password" placeholder="Password"
        required>
    </div>
  </div>

  <div class="form-group" [class.has-error]="submitted && rePasswordInput.invalid">
    <label for="password" class="col-sm-3 control-label">Repeat password</label>
    <div class="col-sm-9">
      <input [(ngModel)]="rePassword" #rePasswordInput="ngModel" name="rePassword" class="form-control" id="rePassword" placeholder="Repeat password"
        required>
    </div>
  </div>

  <div class="progress" *ngIf="this.user.password && this.user.password.length > 0">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%" 
    [class.progress-bar-danger]="checkPasswordStrength(password.value) == 'too short'" [style.width]
      [class.progress-bar-warning]="checkPasswordStrength(password.value) == 'normal'" [class.progress-bar-success]="checkPasswordStrength(password.value) == 'strong'">
      {{this.passwordStrength}}
    </div>
  </div>

  <div class="form-group" style="margin: 30px 20%;">
    <div class="col-sm-6">
      <button class="btn btn-success btn-block" type="submit">Signup</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-danger btn-block" type="button" [routerLink]="['/login']">Back</button>
    </div>
  </div>


</form>