.card-text {
    font-size: 20px !important;
}

label {
    text-align: left !important;
    padding-left: 30px;
}
.alert {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.account-closed {
    background-color: rgb(211, 135, 125);
}

.account-open {
    background-color: rgb(102, 177, 96);
}