<div class="container accounts-label">
    <div class="page-label">
        <h1>Управления счетами</h1>
        <p>Попробуйте все вожности менеджмента кредитов и депозитов</p>
      </div>
  <hr>
  <div id="row" class="row centered">
    <div class="col-sm-6">
      <a class="btn btn-default btn-circle" [routerLink]="['deposits']">
        <span id="card-icon" class="glyphicon glyphicon-usd card-main-area"  aria-hidden="true">
        </span>
        <p class="card-text">Депозиты</p>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-default btn-circle" [routerLink]="['credits']">
        <span id="card-icon" class="glyphicon glyphicon-briefcase card-main-area" aria-hidden="true">
        </span>
        <p class="card-text">Кредиты</p>
      </a>
    </div>
  </div>
</div>