<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="['/workflow']">Menu</a>
      </li>
      <li>
        <a [routerLink]="['accounts']">Accounts</a>
        <a [routerLink]="['cards']">Cards</a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <button class="btn" (click)="openSideBar()">
        Show sidebar
      </button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>