<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="['/workflow']">Меню</a>
      </li>
      <li>
        <a [routerLink]="['accounts']">Счета</a>
        <a [routerLink]="['cards']">Карточки</a>
        <a [routerLink]="['transactions']">Операции</a>
      </li>
    </ul>
  </div>
  <button class="btn sidebar-btn" (click)="openSideBar()">
    <span id="arrow" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
  <div id="page-content-wrapper" (click)="closeSideBar()">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>