<div class="container accounts-label">
    <div class="page-label">
        <h1>Операции</h1>
        <p>Список операций с использованием банковских карт</p>
    </div>
    <hr>
    <div class="col-sm-6">
        <div class="transaction">
            <h2><span class="glyphicon glyphicon-phone"></span> Оплата услуг оператора мобильной связи</h2>
            <p>Здесь вы можете пополнить баланс вашего телефона</p>
            <a class="btn btn-primary" [routerLink]="['mobile']">Пополнить</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="transaction">
            <h2><span class="glyphicon glyphicon-usd"></span> Денежные переводы</h2>
            <p>Отправляйте деньги с ваших карт</p>
            <a class="btn btn-primary" [routerLink]="['transfer']">Подробнее</a>
        </div>
    </div>
</div>