.transaction {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: 200px;
}

.transaction .btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.transaction p {
    color: #000000b0;
    font-weight: 600;
}

.transaction h2 {
    font-weight: 600;
    color: #ffffffd1;
    width: 400px;
    margin-left: -60px;
}