.form-horizontal {
    margin: 0 auto;
    max-width: 50%;
}

.form-horizontal h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.form-group label {
    text-align: left;
}

.form-group .glyphicon-credit-card {
    margin-top: 20%;
    font-size: 150%;
    font-weight: 800;
}